* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-top: 15px;
    margin-bottom: 15px;
}

.horizontal-group {
    display: flex;
    align-items: center;
    gap: 10px; /* Adds spacing between elements */
}

label {
    display: flex;
    align-items: center;
}

input[type="number"] {
    width: 60px;
    padding: 6px;
    margin-left: 5px;
    margin-right: 5px;
}

button {
    padding: 8px 12px;
    background-color: #efefef;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d3d3d3;
}

#fileListContainer {
    margin-top: 20px;
}

#fileList {
    list-style-type: none;
    padding: 0;
}

#fileList li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-buttons {
    display: flex;
    gap: 10px;
}

.bold {
    /*font-weight: bold;*/
    font-weight: 500;
    margin-top: 15px;
    font-size: 1.1em;
}

.clear {
    background-color: #efefef;
}
